$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #4F4F4F;
$gray4: #BDBDBD;
$purple1: #804099;
$white: #FFFFFF;
$border: #E0E0E0;

@font-face{
    font-family: helvetica;
    src: url('../fonts/Helvetica.otf');
}
@font-face{
    font-family: helvetica-bold;
    src: url('../fonts/Helvetica-Bold.ttf');
}
@font-face{
    font-family: helvetica-rounded;
    src: url('../fonts/Helvetica-Rounded.otf');
}
@font-face{
    font-family: abel;
    src: url('../fonts/Abel-Regular.ttf');
}
.btn, a{
    opacity: 1;
    transition: 0.5s;
}
.btn:hover, a:hover{
    opacity: 0.8;
}
nav{
    background: $white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    .nav-link{
        font-family: helvetica;
        font-size: 16px;
        font-weight: bold;
        color: $gray2;
    }
}
#hero{
    background: url(../images/hero-image.png) no-repeat;
    background-position: right center;
    height: 100vh;
    .hero-copy{
        margin-top: 100px;
    }
    h5{
        font-family: helvetica;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        font-style: normal;
        color: $gray4;
        margin-top: 10%;
    }
    h1{
        font-family: abel;
        font-weight: normal;
        font-style: normal;
        font-size: 60px;
        line-height: 72px;
        color: $purple1;
    }
    h3{
        font-family: abel;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        line-height: 45px;
        color: $gray2;
    }
    .btn-default{
        font-family: helvetica-rounded;
        text-align: center;
        background: $purple1;
        color: $white;
        border-radius: 30px;
        width: 300px;
    }
}

#jobs{
    a{
        text-decoration: none;
    }
    h5{
        font-family: helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: $gray4;
    }
    .view-all{
        font-family: helvetica-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: $purple1;
        text-decoration: none;
    }
    .jobs-box{
        width: 350px;
        height: 100px;
        padding: 10px;
        border: 1px solid $border;
        box-sizing: border-box;
        border-radius: 10px;
        word-wrap: break-word;
        
        .jobs-title{
            font-family: helvetica-bold;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 25px;
            color: $gray1;
        }
        .jobs-location{
            font-family: helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: $gray4;
        }
    }
}
#slider{
    img{
        width: 100%;
    }
    .swiper-button-prev{
        left: 50px;
        width: auto;
    }
    .swiper-button-next{
        right: 50px;
        width: auto;
    }
    .swiper-button-prev::after{
        content: "";
    }
    .swiper-button-next::after{
        content: "";
    }
    .swiper-pagination{
        bottom: 50px;
    }
    .swiper-pagination-bullet-active{
        background: $purple1;
        opacity: 1;
    }
    .swiper-pagination-bullet{
        background: $purple1;
    }
}
#culture{
    img{
        width: 100%;
    }
    h5{
        font-family: helvetica;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        font-style: normal;
        color: $gray4;
        margin-bottom:30px;
    }
    .accordion{
        .card{
            border: none;
            background: $white;
            .btn.collapsed{
                color: $gray3;
            }
        }
        .card-header{
            border: none;
            background: $white;
            padding: 0;
            margin-bottom: 15px;
            margin-top: 30px;
            .btn{
                font-family: helvetica;
                font-size: 28px;
                font-weight: bold;
                color: $purple1;
            }
        }
        .card-body{
            font-family: helvetica;
            font-size: 16px;
            color: $gray2;
            padding: 0;
            margin-bottom: 10px;
        }
        a, .btn{
            box-shadow: none;
            text-decoration: none;
            padding: 0;
        }
    }
}
footer{
    background: $purple1;
    color: $white;
    ul{
        li{
            margin-bottom: 30px;
            list-style: none;
            a, a:hover{
                font-family: Helvetica;
                font-size: 16px;
                color: $white;
                text-decoration: none;
            }
        }
    }
    p{
        text-align: right;
        font-size: 16px;
        font-family: helvetica;
    }
}
@media(max-width: 480px){
    #hero{
        background-position: center center;
        background-size: cover;
        height: 65vh;
        h5{
            font-size: 12px;
        }
        h1{
            font-size: 36px;
            line-height: 48px;
        }
        h3{
            font-size: 18px;
            line-height: 28px;
        }
        .btn-default{
            width: 200px;
            font-size: 12px;
            margin-top: 15px;
        }
        .wrapper{
            height: 65vh;
            background-color: rgba(255, 255, 255, 0.95);
            .hero-copy{
                margin-top: 30px;
            }
        }
    }
    #jobs{
        h5{
            font-size: 12px;
        }
        .view-all{
            font-size: 12px;
            img{
                width: 15px;
            }
        }
        img{
            max-width: 40px;
        }
        .jobs-box{
            height: 90px;
        }
        .jobs-title{
            font-size: 16px !important;
        }
        .jobs-location{
            font-size: 14px;
        }
    }
    #slider{
        .swiper-button-prev, .swiper-button-next{
            display: none;
        }
        .swiper-pagination{
            bottom:10px
        }
    }
    #culture{
        h5{
            font-size: 12px;
            margin-bottom: 5px;
        }
        .accordion{
            .card-header{
                .btn{
                    font-size: 22px;
                }
            }
        }
    }
    footer{
        ul{
            padding: 0;
        }
        p{
            text-align: left;
        }
    }
}